<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Travel Buddy, Let's Go Party!</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    </head>

    <body>
        <h5 style="text-align: right"><a href="/logout" style="margin: 20px">Выйти</a> | <a href="/travel" style="margin: 20px">Домой</a></h5>
      <div class="container">
          <table>
              <tbody>
                  <thead>
                      <th><h3>{{travel.destination}}</h3></th>
                  </thead>
                  <tr>
                      <td><b>Запланировано на:</b>  {{travel.creator.name}}</td>
                  </tr>
                  <tr>
                       <td><b>Описание:</b>  {{travel.description}}</td>
                  </tr>
                  <tr>
                       <td><b>Дата отправки:</b>  {{travel.start}}</td>
                  </tr>
                  <tr>
                        <td><b>Дата приезда:</b>  {{travel.end}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
          <br>
      <div class="container">
          <h4>Едут с вами</h4>
              {%for user in others%}
                 <h5> {{user.name}}</h5>
              {%endfor%}
          <br>
            {%if travel.creator.id == user.id%}
                <h5><a href="/delete/{{travel.id}}">Удалить</a></h5>
            {%endif%}
    </body>
</html>
